<div class="delivery">
      <h1 class="center-align">Информация о доставке и условиях!</h1>
       <div class="d">
        <img class="center-align" src="/delivery.jpg">
      </div>
      <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>
      First
      <span class="new badge">4</span></div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
</div>        