  <main>
  <div class="parallax-container">
      <div class="parallax"><img src="https://images.wallpaperscraft.ru/image/shchenok_sobaka_chashka_106508_1920x1080.jpg"></div>
    </div>
    <div class="section white #512da8 deep-purple darken-2">
      <div class="row container">
        <h2 class="header white-text">Мы знаем, что хочет ваш питомец!</h2>
        <p class="white-text">Уникальный магазин по подбору товаров для ваших друзей</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://images.wallpaperscraft.ru/image/shchenok_sobaka_morda_116156_1920x1080.jpg"></div>
    </div>
    </main>