body {
    background-color: rgb(98, 180, 123);
}

.redt {
    color: red;
}

.row > p {
    font-size: 24px;
}

.show > p {
    font-size: 24px;
}

.show {
    position: relative;
    display: flex;
    border: 1px solid black;
}

.imgDelivery {
    margin-bottom: 1em;
}

.auth {
    background-color: rgb(116, 182, 135);
    padding-bottom: 2em;
}

.alert {
    padding: .5rem 1rem;
    background: rgba(255, 0, 0, .3);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
}