body {
    background-color: rgb(98, 180, 123);
}

.redt {
    color: red;
}

.row > p {
    font-size: 24px;
}

.show > p {
    font-size: 24px;
}

.show {
    position: relative;
    display: flex;
    border: 1px solid black;
}

.imgDelivery {
    margin-bottom: 1em;
}

.auth {
    background-color: rgb(116, 182, 135);
    padding-bottom: 2em;
}

.alert {
    padding: .5rem 1rem;
    background: rgba(255, 0, 0, .3);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.highlight {
    opacity: 0.8;
    -webkit-box-shadow: 10px -11px 64px 3px rgba(176,33,33,1);
    -moz-box-shadow: 10px -11px 64px 3px rgba(176,33,33,1);
     box-shadow: 10px -11px 64px 3px rgba(176,33,33,1);
}

.header:hover {
    font-style: italic;
}

.header:before, .header:after { 
    content: "\2746"; 
    display: inline-block; 
    font-size: 60px; 
    color: #38afaa; 
    -webkit-animation: my 4s infinite alternate; 
    animation: my 4s infinite alternate; 
}

.header:before { 
    margin-right: 0.5em; 
}

.header:after { 
    margin-left: 0.5em; 
}

@-webkit-keyframes my {
        0%   {color: #2e2f92;}
        25%  {color: #38afaa;}
        50%  {color: #5b59a7;}
        75%  {color: #f7b21c;}
        100% {color: #e12527;}
}

@keyframes my {
        0%   {color: #2e2f92;}
        25%  {color: #38afaa;}
        50%  {color: #5b59a7;}
        75%  {color: #f7b21c;}
        100% {color: #e12527;}
}

.header {
    font-family: 'Niconne', cursive; 
}